<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Crushed|Quicksand:300,400,500,700" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="../../css/views.css">
    <title>Edit User</title>
  </head>
  <body>

    <div class='headings'>
     
    <nav>
<div>
  <ul >
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/members/<%=member.id%>"><%=member.username%></a>
  </li>
</ul>

</div>
</nav>
      <h1>Edit <%=member.username%>'s Information:</h1>
    </div>


    <form action='/members/<%=member.id%>?_method=PUT' method="POST">
        Username: <input type="text" name="username" value='<%=member.username%>'>
       
        <input class='delete' type="submit" value="Edit Member">
    </form>

    <form action='/members/<%=member.id%>?_method=DELETE' method='POST'>
      <input class='delete' id="delete-btn"type='submit' value='Delete Member'/>
    </form>

  </body>
</html>
