<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
  </head>
  <body>


    <a href="/">Home</a>
    <h1>Member Show Page</h1>
  </body>
</html>
    <h2><%=member.username%></h2>
    <p>Zip Code: <%=member.zipcode%></p> <br>

<ul>
    <% for (let i = 0; i  < member['wishlist'].length; i++) { %>
      <li>
      <%=member['wishlist'][i].name%><br>
      <%=member['wishlist'][i].breeds%><br>
      <%=member['wishlist'][i].sex%><br>
      <img src='<%=member['wishlist'][i].media.photos['1']['pn']%>'>
    <% } %>
  </li>
</ul>
    <!-- <p>Pet Wishlist: <%=member['wishlist'][0].name%><p>

      <%=member['wishlist'][0].breeds%> -->


    <a href='/members/<%=member.id%>/edit'>Edit Member</a>

    <form action='/members/<%=member.id%>?_method=DELETE' method='POST'>
      <input type='submit' value='Delete Member'/>
    </form>

  </body>
</html>
